<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/instruments/add" method="POST">
      <!-- <label for="image">Instrument Image:</label>
      <input type="file" accept="image/jpeg" name="image" id="image" required /> -->
      <label for="model">Model:</label>
      <select name="model" id="model">
        <option value="">-- Select a Model --</option>
        <% models.map(model => { %>
        <option value="<%= model.model_id %>"><%= model.model_name %></option>
        <% }) %>
      </select>
      <label>Status:</label>
      <input
        type="radio"
        name="status"
        id="in-stock"
        value="In Stock"
        checked
      />
      <label for="in-stock">In Stock</label>
      <input type="radio" name="status" id="sold-out" value="Sold Out" />
      <label for="sold-out">Sold Out</label>
      <label for="price">Price: </label>
      <input type="number" name="price" id="price" step=".01" required />
      <label for="admin-password">Admin Password: </label>
      <input type="password" name="adminPassword" required />
      <%- include("partials/formErrors") %>
      <button type="submit">Add</button>
    </form>
    <a href="/">
      <button type="button">Go Back</button>
    </a>
  </body>
</html>
