<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <h1><%= title %></h1>
    <form
      action="/instruments/<%= instrumentId %>/delete?_method=DELETE"
      method="POST"
    >
      <label for="admin-password">
        Enter the admin password to delete this instrument:
      </label>
      <input
        type="password"
        name="adminPassword"
        id="admin-password"
        required
      />
      <%- include("partials/formErrors") %>
      <button type="submit">Delete :C</button>
    </form>
    <a href="/instruments/<%= instrumentId %>"><button>Go Back</button></a>
  </body>
</html>
