<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <a href="/instruments/add">Add Instrument</a>
    </header>
    <section>
      <h2>Category:</h2>
      <a href="/">All</a>
      <a href="/?category=Guitar">Guitars</a>
      <a href="/?category=Bass">Bass</a>
      <a href="/?category=Drums">Drums</a>
      <a href="/?category=Keyboard">Keyboard</a>
    </section>
    <section>
      <ul>
        <% instruments.map(instrument => { %>
        <li>
          <img
            src="/images/instrument-<%= instrument.instrument_id %>.jpg"
            alt="<%= instrument.model_name %> image"
            width="200"
            height="200"
          />
          <p><%= instrument.brand_name.concat(" ", instrument.model_name) %></p>
          <a href="/instruments/<%= instrument.instrument_id %>">
            <button>See Details</button>
          </a>
        </li>
        <% }) %>
      </ul>
    </section>
  </body>
</html>
