<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Instrument ID: <%= instrument.instrument_id %></p>
    <p>Brand: <%= instrument.brand_name %></p>
    <p>Made in <%= instrument.country %></p>
    <p>Status: <%= instrument.status_name %></p>
    <p>Price: $<%= instrument.price %></p>
    <p>Year introduced: <%= instrument.year_introduced %></p>
    <p>Specs: <%= instrument.specifications %></p>
    <a href="/"><button>Go Back</button></a>
  </body>
</html>
