<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <h1 class="page-title"><%= title %></h1>
    <img
      src="/images/instrument-<%= instrument.instrument_id %>.jpg"
      alt="<%= instrument.model_name %> image"
      class="detail-image"
    />
    <div class="detail-info">
      <p class="text-info">Instrument ID: <%= instrument.instrument_id %></p>
      <p class="text-info">Brand: <%= instrument.brand_name %></p>
      <p class="text-info">Made in <%= instrument.country %></p>
      <p class="text-info">
        Year introduced: <%= instrument.year_introduced %>
      </p>
      <p class="text-info">Status: <%= instrument.status_name %></p>
      <p class="text-info">Price: $<%= instrument.price %></p>
      <p class="text-info">Specs: <%= instrument.specifications %></p>
    </div>
    <div class="button-group">
      <a href="/instruments/<%= instrument.instrument_id %>/edit">
        <button class="btn">Edit</button>
      </a>
      <a href="/instruments/<%= instrument.instrument_id %>/delete">
        <button class="btn btn-danger">Delete</button>
      </a>
      <a href="/">
        <button class="btn btn-secondary">Go Back</button>
      </a>
    </div>
  </body>
</html>
